.Dashboard-wrapper {
  min-height: 100vh;
  background:  linear-gradient(135deg, #fefefe 0%, #eaf5ff 100%);/* Fondo transparente igual a otros */
  padding: 2rem; 
}



.admin-container {
  max-width: 1300px;
  margin: 150px auto 50px;
  
}


.admin-title {
 font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 800;
  margin-left: 20px; /* igual que productos */
  background: linear-gradient(90deg, #343a40, #17a2b8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.estado-badge {
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: capitalize;
}

.estado-pendiente {
  background: #ffe066;
  color: #856404;
}

.estado-proceso {
  background: #74c0fc;
  color: #084298;
}

.estado-finalizado {
  background: #69db7c;
  color: #0f5132;
}

select {
  padding: 5px;
  border-radius: 4px;
}
